<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/svg" href="{{ url_for('static', filename='img/flask.svg') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  <title>Fibrafil</title>
</head>

<body>
  <div class="container mt-5">
    <form method="POST">
    <div class="row">
      <div class="col-sm-4">
        <label for="location">Location:</label>
        <input type="text" class="form-control" id="location" name = "location"
          placeholder="Country, Ex. United States" required>
      </div>
      <div class="col-sm-4">
        <label for="industry">Industry:</label>
        <input type="text" class="form-control" id="industry" name = "industry"
          placeholder="Industry, Ex. Pharmaceutical manufacturing" required>
      </div>
      <div class="col-sm-4">
        <label for="job_title">Job Title Keyword:</label>
        <input type="text" class="form-control" id="job_title" name = "job_title"
          placeholder="Sales, Purchasing, Operations, Quality Control" required>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" id="search">Search</button>
      </div>
    </div>
    </form>
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">Result</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-end">
        <form action="/export" method="POST">
        <button type="submit" class="btn btn-outline-primary" id="export">Export</button>
        </form>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-sm-12 table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Company</th>
              <th>Website</th>
              <th>Company Linkedin Url</th>
              <th>Company Phone</th>
              <th>Company Address</th>
              <th>Company State</th>
              <th>Company City</th>
              <th>Company Postal Code</th>
              <th>Company Country</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Title</th>
              <th>Email</th>
              <th>Person Linkedin Url</th>
            </tr>
          </thead>
          <tbody id="tbody-data">
            {% for item in data %}
            <tr>
              <td>{{item["company"]}}</td>
              <td><a href="https://{{item['website']}}">{{item["website"]}}<a></td>
              <td><a href="{{item['linkedin_comp']}}">{{item["linkedin_comp"]}}<a></td>
              <td>{{item["phone"]}}</td>
              <td>{{item["address"]}}</td>
              <td>{{item["state"]}}</td>
              <td>{{item["city"]}}</td>
              <td>{{item["code"]}}</td>
              <td>{{item["country"]}}</td>
              <td>{{item["fname"]}}</td>
              <td>{{item["lname"]}}</td>
              <td>{{item["title"]}}</td>
              <td>{{item["email"]}}</td>
              <td><a href="{{item['linkedin_pers']}}">{{item["linkedin_pers"]}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <!-- <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul> -->
    </div>
  </div>
  <div id="loading-modal" class="modal">
    <div class="modal-content">
      <div class="loader"></div>
      <p>Loading...</p>
    </div>
  </div>
</body>
</html>